/* Nav */

.navbar {
	margin: 0px 0px;
	padding: 0px 0px;
	font-size: 20px;
	background-color: white;
	border-bottom: solid rgb(223, 219, 219) .1px;
}

.links a {
	font-weight: bold;

	color: #14171a;
	margin: 0px 20px;
	padding: 10px 20px;
}

.links a:hover {
	background-color: rgba(29, 161, 242, 0.1);
	transition-duration: 0.2s;
	border-radius: 30px;
	text-decoration: none;
}

.links li:hover {
	cursor: pointer;
}

.navbar-brand {
	margin-left: 20px;
}

.navbar-brand > img {
	display: inline-block;
	width: 60px;
	border-radius: 2px;
	margin-bottom: 2px;
}

ul.nav.navbar-nav li {
	margin: 0 2rem;
}

.active {
	background-color: rgba(29, 161, 242, 0.1);
	border-radius: 30px;
}
