/* Nav */

.navbar {
	margin: 0px 0px;
	padding: 0px 0px;
	font-size: 20px;
	background-color: white;
	border-bottom: solid rgb(223, 219, 219) .1px;
}

.links a {
	font-weight: bold;
	background-color: #1da1f2;
	border-radius: 30px;
	color: white;
	margin: 0px 20px;
	padding: 10px 20px;
	text-decoration: none;
}

.links a:hover {
	background-color: #007bff;
	transition-duration: 0.2s;
	box-shadow: 0 8px 6px -6px gray;
}

.links li:hover {
	cursor: pointer;
}

.navbar-brand {
	margin-left: 2vw;
}

.navbar-brand > img {
	display: inline-block;
	width: 60px;
	border-radius: 2px;
	margin-bottom: 2px;
}

ul.nav.navbar-nav li {
	margin: 0 2rem;
}

/* Homepage */

.home-hero {
	width: 80vw;
	height: 80vh;
	position: absolute;
	top: 15vh;
	left: 15vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.welcomeMsg {
	font-size: 5rem;
	position: relative;
	margin-bottom: -98.5px;
	margin-left: -81.5px;
}

.oo {
	position: relative;
	margin-left: -20px;
}
.twit {
	font-size: 8rem;
}

.btn:hover {
	box-shadow: 0 8px 6px -6px gray;
}

.signupBtn {
	margin-left: 22rem;
}
